<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<meta htt0-equiv = "X-UA-Compatible" content = "IE=edge">
<meta name="description" content="{{description}}" >
<meta property="og:title" content="{{website_name}} - {{title}}">
<meta property="og:site_name" content="{{title}}">
<meta property="og:image:type" content="image/png">
<meta name="theme-color" content="#ffffff">
<meta name="keywords" content="{{keywords}}">
<meta name="author" content="{{author}}">
<link rel="alternate" hreflang="zh-Hant" href="{{website}}" />
{{#if title}}
<title>{{website_name}} － {{title}}</title>
{{else}}
<title>{{website_name}}</title>
{{/if}}
